
body{
    margin: auto 200px;
    
    color: #eff0f2;
    font-family: "Poppins", sans-serif;
    background-color: black;
}
/* div{
    border: 1px dotted rgba(50, 30, 0, 0.5);
} */
main{
    min-height: 100vh;
    background-color: #313338;
    border-radius: 0px 20px 20px 0px;   
}

button{
    background-color: #4752c4;
    color: #ffffff;
    border-width: 0px;
    padding: 0.7em 1.3em;
    border-radius: 5px;
}
button:hover{
    background-color: #333b93;
}

button:focus{
    background-color: #6774fc;
}

select,input,button{
    padding: 0.5em 1em;
    margin: 10px;
    border: none;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

select {
    width: 256px;
    background-color: #1e1f22;
    color: #d5cfd5 ;   
    z-index: 1;
  
    &::-ms-expand {
      display: none;
    }
}

hr{
    border: 1px outset #3f4147;

}

.marca{
    background-color: #4752c4;
    color: #ffffff ;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 15px;
    padding-left: 10px;
    padding-inline-start: 40px

}

.operaciones{
    display: none;
    border: 1px solid #3f4147;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}
#cargar-monto-tarjeta{
    /* display: block; */
}
.parent{
    display: grid;
    grid-template-columns: minmax(200px, 30%) 1fr;
}

.sidebar{
    background-color: #2b2d31;
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
    ul{
        padding-inline-start: 30px;
        list-style-type: none;
        overflow-x: hidden;
        li{
            
            border-bottom: 1px solid #3f4147;
            a{
                display: block;
                height: 100%;
                width: 100%;
                padding: 0.5em;
                color: #dbd4dc;
                text-decoration: none;
                transition: all 0.1s ease-in-out;
            }
            a:hover{
                background-color: rgb(53, 55, 60);
                transform: translate(10px);
                border-radius: 10px 0px 0px 10px;
                
            }
            a.linkActivo{
                background-color: #4752c4;
                transform: translate(10px);
                border-radius: 10px 0px 0px 10px;
            }
        }
    }
}


.resultados-on{
    height: 24px;
    font-weight: 200;
    animation: boing 0.2s forwards;
}

.resultados-off{
    opacity: 0;
    padding: 0.5em;
}
.feedback{
    display: inline;
}

@keyframes boing{
    0% {
        opacity: 0;
        background-color: rgba(53, 55, 60, 0);
        transform: translateY(-30px);
    }
    
    90% {
        background-color: rgb(65, 66, 70);
        transform: translateY(4px);
    }
    100% {
        opacity: 1;
        background-color: rgba(53, 55, 60, 0);
        transform: translateY(0px);
    }
}